.signin-component
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: Odibee Sans;
    letter-spacing: 0.1em;
    /* background-color: #f2f2f2; */
}
.form-login
{
    display: block;
    justify-content: center;
    align-items: center;
    width:  350px;
    height: 90vh;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) 
}
.form-header
{
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
}
.form-title
{
    padding-bottom: 15px;
    display: block;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
}
.form-logo
{
    width: 30%;
    margin: 0px auto;
    display: block;
}
input
{
    color: gray;
    padding: 10px 0px;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: solid 2px gray;
    outline: none;
    font-size: 1.2em;
}
button
{
    display: block;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;

}
button:hover
{
    background-color: #032B91;
}
.form-content p
{
    display: block;
    text-align: center;
    margin: 20px auto;
}
.form-content a
{
    text-decoration: none;
}
.form-content a:hover{
    color: red;
    font-weight: 700;
}