<div class="signin-component">
    <div class="form-login">
        <div class="form-header">
            <p class="form-title">Wellcome</p>
            <img class = "form-logo" src="assets/images/logo-Ari.png" alt="">
        </div>
        <div class="form-content">
            <form>
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <button class=" btn btn-primary">Login</button>
            </form>
            <p>Don’t have an account? <a routerLink="user/signup">Sign Up</a></p>
            <p><a href="#">Forgot password</a></p>
        </div>
    </div>
</div>
